.jumbotron {
  background: #0065BD;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}
  
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
  
.navbar + .jumbotron {
  margin-top: -20px; 
}
  
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}

.logo {
  width: 5rem;
  height: 5rem;
}

label, input{
  display: block;
}
input{
  color: black;
}
.ponder01form{
  color: black;
  text-align: left;
}
label{
  color: white;
}

.res01{
  text-align: left;
}

.container button{
  color: black;
}
.userlist ul{
  list-style-type: none;
  margin-left: 0%;
  padding-left: 0%;
}

.removeUser input{
  margin: 0 auto;
}

.booklist ul{
  list-style-type: none;
  margin-left: 0%;
  padding-left: 0%;
}

.removeBook input{
  margin: 0 auto;
}
.container img{
  width: 50%;
  height: auto;
  background-color: white;
}