<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/project01nav.ejs %>

  <div class="jumbotron text-center">
    <div class="containers">
      <h1><%= title %></h1>
      <%for (e of data){ %>
        <%if (e.user == user){ %>
          <form class="cart-card" action="/eCommerce/remove-cart" method="POST">
            <p>Item ID: <%= e.productId %></p>
            <p>Name: <%= e.title %></p>
            <p>Price: <%= e.price %></p>
            <input value="e._id" name="cartId" hidden>
            <button type="submit">Remove</button>
          </form>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="container">
    
  </div>
</body>
</html>