<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>The page you were looking for is currently unavailable. To return to the shop click <a href="/eCommerce" class="shopLink">here</a></p>
  </div>
</div>

</body>
</html>
