<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Please review the information you provided:</p>
    <div class="res01">    
        <p>First Name: <%= first_name %>
        <br>
        Last Name: <%= last_name %>
        <br>
        Major: <%= major %></p></div>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>