<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <ul id="superList">
    </ul>
    <p><br>Please fill out the form below to add a name</p>
    <form class="ponder01form">
        <div>
            <label for="name">Superhero Name:</label>
            <input type="text" name="name" id="newName">
        </div>
        <div>
            <button id="submitName">Submit</button>
        </div>
    </form>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/prove10client.js"></script>
</body>
</html>